listen = "0.0.0.0:1680"

[keypair]
type = "file"
path = "/var/data/gateway_key.bin"

[log]
method = "stdio"
level = "info"
timestamp = false

[update]
enabled = false

[network]
transport = "quic"

[[helium_network.routers]]
uri = "helium-router.oracle.helium.io:8080"
pubkey = "1SbEYKju337P6aYsRd9DT2k4qgK5ZZnbCHHNVKaSHAeCPZSAEH"
